<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="京都テック,セキュリティサークル,IT">
  <meta name="description" content="セキュリティサークルの紹介サイトです">
  <meta name="format-detection" content="telephone=no">
  
	<title>セキュリティサークル紹介</title>

  <link rel="stylesheet" href="../css/normalize.css">
  <link rel="stylesheet" href="../css/style.css">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios@0.21.1/dist/axios.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body>
  <header class="header">
    <h1 class="logo">
		  <a href="../index.html">
        <img src="../img/security_key_37451-300x300.png">
      </a>
    </h1>
    <input type="checkbox" name="navToggle" id="navToggle" class="nav-toggle">
    <label for="navToggle" class="btn-burger"></label>
    <nav class="nav">
    <ul class="nav-list">
      <li><a href="../index.html" title="TOPページ">TOPページ</a></li>
      <li><a href="/about/index.html" title="サークル紹介">サークル紹介</a></li>
      <li><a href="/topic/index.html" title="お知らせ">お知らせ</a></li>
      <li><a href="/project/index.html" title="進行中プロジェクト">進行中プロジェクト</a></li>
      <li>お問い合わせ</li>
    </ul>
      
    </nav>
  </header>

	<main>
    <div id="app">
      <form @submit.prevent="sendMessage">
          <label for="name" class="block mb-2">名前:</label>
          <input v-model="name" id="name" name="name" required type="text" class="w-full p-2.5 border border-gray-400 focus:border-blue-900 focus:outline-none">
  
          <label for="email" class="block mt-4 mb-2">メールアドレス:</label>
          <input v-model="email" id="email" name="email" required type="email" class="w-full p-2.5 border border-gray-400 focus:border-blue-900 focus:outline-none">
  
          <label for="message" class="block mt-4 mb-2">メッセージ:</label>
          <textarea v-model="message" id="message" name="message" required class="w-full p-2.5 border border-gray-400 focus:border-blue-900 focus:outline-none"></textarea>
  
          <button type="submit" class="bg-transparent border-none cursor-pointer mt-4 hover:opacity-65">
            送信
          </button>
      </form>
    </div>
  
  <script>
      new Vue({
          el: '#app',
          data: {
              name: '',
              email: '',
              message: ''
          },
          methods: {
            sendMessage() {
    const discordMessage = {
        content: `新しいお問い合わせ:\n名前: ${this.name}\nメール: ${this.email}\nメッセージ: ${this.message}`
    };

    axios.post('https://discord.com/api/webhooks/1124218529638514769/NtBGlwCsW-0E-IyrJ4O5lH2jPrbJrUwcTP4O8gSqOtwwG0-M6OrqfLJe3WRT9qvTSZh9', discordMessage)
         .then(response => {
             if (response.status === 204) {  // Discord Webhookは成功時にHTTP 204を返します
                 alert('メッセージが送信されました！');
             } else {
                 alert('メッセージの送信に失敗しました。');
             }
         })
         .catch(error => {
             alert('エラーが発生しました。');
         });
        }
      }
          
});
  </script>
  
  </main>

  <footer class="py-10 px-0 pb-7.5 text-black text-center bg-center bg-no-repeat bg-cover" style="background-image: url('../img/footer_bg.svg');">
    <p class="footer-logo mb-2.5">
      <a href="../index.html">
        <img src="../img/header_logo_sp.svg" alt="京都デザイン&テクノロジー専門学校" class="w-4/5 h-4/5">
      </a>
    </p>
    <ul class="footer-sns flex justify-center">
      <li><a href="#" target="_blank"><img src="../img/Discord.png" alt="Discord" class="w-40 h-32 ml-4"></a></li>
      <li><a href="#" target="_blank"><img src="../img/instagram.png" alt="instagram" class="w-40 h-32 ml-4"></a></li>
    </ul>
  </footer>
  <script src="/static/main.js"></script>
</body>
</html>